# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Express
.env

# MongoDB
/data/
*.log

# IDE and text editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db
